@{
    ViewBag.Title = "Home";
}

<div class="page-body" ng-app="xivApp" ng-cloak>
    <script type="text/ng-template" id="home.html">
        <div ng-include="'/Scripts/angular/templates/home.html'"></div>
    </script>
    <script type="text/ng-template" id="dataCenterList.html">
        <div ng-include="'/Scripts/angular/templates/dataCenterList.html'"></div>
    </script>
    <script type="text/ng-template" id="dataCenterDetail.html">
        <div ng-include="'/Scripts/angular/templates/dataCenterDetail.html'"></div>
    </script>
    <div ng-view></div>
</div>